<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}PierceGate{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <span class="brand">PierceGate</span>
        <a href="/">Vue globale</a>
        <a href="/logs">Logs</a>
        <a href="/admin">Admin</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
